
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.grid {
    width: 100px;
    height: 100px;
    background-color: red;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}